<script spec="view" type="application/json">
  {
    "ToDoList" : {
      "container" : "main-container",
      "impl" : "Trillo.CollectionView",
      "modelSpec" : {
        "impl" : "ToDo.ListModel",
        "observeChanges" : true,
        "newItemsAtEnd" : true
      },
      "type" : "table"
    }
  }
</script>

<div class="to-do-list-container">
  <div class="to-do-list-tool-bar js-toolbar-tools">
    <button class="btn btn-default btn-xs js-tool" type="button" nm="newTask">New Task</button>
  </div>
	<div class="trillo-canvas js-grid">
	  <div class="trillo-list-header js-heading-row" style="display:none">
	    <div class="trillo-header-c js-header-c trillo-sortable" nm="completed" aria-sort="" style="width:15%">
	      Completed
	    </div>
	    <div class="trillo-header-c js-header-c trillo-sortable" nm="priority" aria-sort="" style="width:15%">
	      Priority
	    </div>
	    <div class="trillo-header-c js-header-c trillo-sortable" nm="taskName" aria-sort="" style="width:70%">
	      Task
	    </div>
	  </div>
	  <div class="trillo-list-row js-content-row" style="display:none">
	    <div class="trillo-content-c js-content-c todo-list-completed" style="width:15%">
	    	<input type="checkbox" nm="completed">
	    </div>
	    <div class="trillo-content-c js-content-c" nm="priority" style="width:15%">
	    </div>
	    <div class="trillo-content-c js-content-c" nm="taskName" style="width:70%">
	    </div>
	  </div>
	</div>
</div>

