<script spec="view" type="application/json">
  {
    "ToDoList" : {
      "controller" : "ToDo.ToDoListC",
      "container" : "main-container",
      "impl" : "Trillo.CollectionView",
      "modelSpec" : {
        "impl" : "ToDo.ListModel"
      },
      "type" : "table"
    }
  }
</script>

<div class="to-do-list-container">
  <div class="to-do-list-tool-bar js-toolbar-tools">
    <button class="btn btn-primary btn-xs js-tool" type="button" nm="newTask">New Task</button>
  </div>
  <div class="trillo-canvas js-grid">
    <div class="trillo-list-header js-heading-row">
      <div class="trillo-header-c js-header-c trillo-sortable todo-list-completed" 
        nm="completed" aria-sort="" style="width:20%">
        Completed
      </div>
      <div class="trillo-header-c js-header-c trillo-sortable" nm="priority" style="width:20%">
        Priority
      </div>
      <div class="trillo-header-c js-header-c trillo-sortable" nm="taskName" style="width:60%">
        Task
      </div>
    </div>
    <div class="trillo-list-row js-content-row">
      <div class="trillo-content-c js-content-c todo-list-completed" style="width:20%">
        <input type="checkbox" nm="completed">
      </div>
      <div class="trillo-content-c js-content-c" nm="priority" style="width:20%">
      </div>
      <div class="trillo-content-c js-content-c" nm="taskName" style="width:60%">
      </div>
    </div>
  </div>
</div>

