html { overflow: -moz-scrollbars-vertical; overflow-y: scroll; overflow-x: auto; height:100%}

body {
  padding-top: 55px;
}

table { empty-cells: show; }

form {
  font-size:14px; 
  line-height:1.43em;
}

/* Bootstrap override */
.form-group {
  margin-bottom: 5px;
}

.todo-navbar {
  height: 50px;
}

.todo-navbar .navbar-right {
  padding-right: 10px;
}

.todo-navbar .navbar-header {
  margin-right: 0px;
  margin-left: 0px;
}

.todo-navbar .navbar-toggle {
  margin-right: 0px;
  padding-right: 0px;  
}

.container {
  max-width: 760px;
}

.trillo-application {
  height: auto !important;
  min-height: 100%;
  height: 100%;
}

.main-logo-bg {
  display:table-cell;
  float:left;
  background-image:url("/img//logo-stamp.png");
  width:40px;
  height:33px;
  margin:10px 10px 0px 0px;
}


.main-app-name {
  float:left;
  color:#fff;
  line-height: 40px;
  font-family: arial;
  font-size:18px;
  padding-left: 10px;
  border-left: 1px #fff solid;
  margin: 5px 0;
}

.to-do-list-container {
  max-width: 700px;
  margin: 15px auto;
  padding: 0px 0px;
}

.to-do-list-tool-bar {
  padding: 5px 20px;
  background-color: #f2f2f2;
  border: 1px solid #dadada;
  height: 34px;
}

.todo-list-completed {
  text-align: center;
}
