html { overflow: -moz-scrollbars-vertical; overflow-y: scroll; overflow-x: auto; height:100%}

body {
    border:0px; 
    margin:0px auto; 
    font-size: 13px;
    line-height: 1.23em;
    font-size:14px;
    font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222222;
    background-color:#ffffff;
    height:100%
}

table { empty-cells: show; }

form {
  font-size:14px; 
  line-height:1.43em;
}

/* Bootstrap override */
.form-group {
  margin-bottom: 5px;
}

.nav-pills>li.nav-item {
  height:25px;
  margin-right:5px;
  margin-top:0px;
  padding: 0px 10px;
  border-radius:8px;
  color:#fff;
  background-color: #ccc;
  font-weight:bold;
  line-height: 25px;
  cursor: pointer;
}

.nav-pills>li.nav-item.trillo-selected, .nav-pills>li.nav-item:hover, .nav-pills>li.nav-item:focus {
  color: #fff;
  background-color: #ff9933;
  
}

.trillo-application {
  height: auto !important;
  min-height: 100%;
  height: 100%;
}

/* --------------------------------------------------------------------------------------------------------- */

/* Styles related page layout. */


.fixed-top-bar .main-content-area {
  padding-top: 55px;
  color: #787878;
  height: 100%;
}

.main-content-area h1 {
  margin:20px;
  text-align: center;
}

.top-bar {
  min-width: 300px;
  margin-bottom:20px;
  text-align:center;
}

.fixed-top-bar .top-bar {
  left: 0;
  margin-bottom: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2030;
}

.top-bar-inner {
  display:block;
  min-height:55px;
  height:55px;
  padding:0;
  background-color:#3c6aa1;
  background:-webkit-gradient(linear,100% 50%,0% 50%,color-stop(0%,#4d80af),color-stop(100%,#2b5593));
  background:-webkit-linear-gradient(top,#4d80af 0,#2b5593 100%);
  background:-moz-linear-gradient(top,#4d80af 0,#2b5593 100%);
  background:-o-linear-gradient(top,#4d80af 0,#2b5593 100%);
  background:linear-gradient(top,#4d80af 0,#2b5593 100%);
  background:-ms-linear-gradient(top,#4d80af 0,#2b5593 100%)
  -webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.2);
  -moz-box-shadow:    0px 5px 5px 0px rgba(50, 50, 50, 0.2);
  box-shadow:         0px 5px 5px 0px rgba(50, 50, 50, 0.2);
}

.top-bar-left {
  float: left;
  margin-left: 10px;
  font-size: 14px;
  height: 100%;
}

.top-bar-center {
  display: inline-block;
}

.top-bar-right {
  float: right;
  width:auto;
  margin-right: 20px;
  font-size: 14px;
  height: 100%;
  display:none;
}

.main-logo-bg {
  display:table-cell;
  float:left;
  background-image:url("/img//logo-stamp.png");
  width:40px;
  height:33px;
  margin:10px 0px 0px 20px;
}

.main-logo-div {
  display:table-cell;
  float:left;
  width:1px;
  height:60%;
  margin:10px 18px 0px 18px;
  border-right: 1px solid #ccc;
}

.main-app-name {
  position:relative;
  display:inline-block;
  float:left;
  height:40px;
  color:#ff9933;
  line-height: 55px;
  font-family: arial;
  font-size:18px;
}

.top-bar-btn {
  display: table-cell;
  vertical-align:middle;
}

.home-icon {
  width:24px;
  height:25px;
  margin:0px 13px 0px 0px;
  background-image:url("/img//icon-header-sprites.png");
  background-position: 0px -25px;
  background-repeat: no-repeat;
  display:inline-block;
  vertical-align:middle;
}

.top-bar-right a:hover div {
  opacity: 0.5;
}


.top-bar-btn img {
  height: 25px;
  margin:0 auto;
  vertical-align: middle;
  margin-bottom: 1px;
}

.top-bar-btn a {
  display: block;
}

.top-bar-right .trillo-caret {
    margin-left: 1px;
}

.logged-in .top-bar-right {
  display: table;
}

.help {
  color: #ffffff;
  margin-left: 16px;
  font-size: 14px;
  cursor: pointer;
}

.help:hover {
  color: #dddddd;
}

.top-bar-subnav-container {
  text-align: center;
}

.top-bar-subnav {
  position: relative;
  display: inline-block;
  top:14px;
}

.top-nav-text {
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align:middle;
  padding: 0px 10px;
}

.top-nav-icon {
  width:25px;
  height:25px;
  margin-right: 1px;
  display: none;
  vertical-align:middle;
}


.body-d .top-nav-text {
  display:none;
}

.body-d .top-nav-icon {
  display:inline-block;
}

.body-d .home-icon {
  display:none;
}

.drop-down-list .trillo-selector-view {
  float: left;
}

.drop-down-list-tools  {
  float: left;
  margin: 5px;
}

.to-do-list-container {
  max-width: 700px;
  margin: 15px auto;
}

.to-do-list-tool-bar {
  padding: 5px 20px;
  background-color: #f2f2f2;
  border: 1px solid #dadada;
  height: 34px;
}

.todo-list-completed {
  text-align: center;
}
