
/* --------------------------------------------------------------------------------------------------------- */

/* The following styles are used to style trillo-tree and control its behavior.
 * The visual styles can be changed (dimension and position related styles change may impact tree behavior)
 */
 
 /* c3 overrides */

.c3-tooltip th {
  background-color: #000;
  font-size: 12px;
  padding: 3px 10px;
  text-align: left;
  color: #FFF;
}

.c3-tooltip td {
  font-size: 11px;
  padding: 3px 10px;
  background-color: #fff;
  border-left: 1px dotted #999;
}

.c3-tooltip td:first-child {
  border-left-width: 0px;
}

.c3 svg {
  font-family: inherit;
}

.c3-axis-x-label, .c3-axis-y-label {
  font-size: 10px;
  letter-spacing: 1px;
}

.c3-chart-arc text {
  font-size: 10px;
}

.c3-tooltip tr {
  border-width: 0px;
  border-bottom: 1px solid #CCC;
}

.c3-tooltip tr:last-child {
  border-bottom-width: 0px;
}

.c3-tooltip {
  border-width: 0px;
}

.c3-tooltip-container {
  border: 1px solid #333;
  border-radius: 2px;
  padding-bottom: 1px;
}

/* trillo */
 
.trillo-tree-container-container {
    height: 100%;
    position: relative;
}

.trillo-tree-container {
    color: #222222;
    height: 100%;
    overflow: hidden;
    width: 240px;
}

/* Use this when using non-native scrollbar. */
.trillo-tree-container2 {
    color: #222222;
    width: 240px;
}


.trillo-tree-container a:link {
  color:#222222;
}

.trillo-tree-container a:visited {
  color:#222222;
}

.trillo-tree {
  width:218px
}

.trillo-tree .trillo-tree-item {
   background-position: 0px 50%;
   background-repeat: no-repeat;
   cursor:pointer;
   padding:1px 1px 1px 1px;
   border: 1px solid transparent;
   overflow: hidden;
   text-overflow: ellipsis;
}

.trillo-tree .trillo-item-close.trillo-tree-item {
  
}

.trillo-tree .trillo-item-open.trillo-tree-item {
  
}

.trillo-tree .lvl0 div .trillo-item-close.trillo-tree-item:before {
  content: "\e080";
  padding-right: 4px;
  font-family:"Glyphicons Halflings";
  color: #787878;
  font-size: 0.6em;
  vertical-align:top;
}

.trillo-tree .lvl0 div .trillo-item-open.trillo-tree-item:before {
  content: "\e114";
  padding-right: 4px;
  font-family:"Glyphicons Halflings";
  color: #787878;
  font-size: 0.6em;
  vertical-align:top;
}

.trillo-tree .lvl0 div .trillo-item-open.trillo-tree-item.trillo-selected:before {
  color: #ffffff;
}

.trillo-tree-item-tn {
  text-align: center;
  margin:auto;
  width:175px;
  margin-bottom:15px;
  padding:4px;
  border: 1px dotted transparent;
}


.trillo-tree-item-tn img {
  border:6px solid #ffffff;
  width:165px;
  box-shadow: 0 1px 3px #cccccc;
}

.trillo-tree .trillo-tree-item-tn.trillo-selected  {
  background-color: transparent;
  border=style: dotted;
  border-width: 3px;
}

.trillo-tree .trillo-tree-item-tn.trillo-selected  img {
  
}

.trillo-tree-item-tn .trillo-tn-label {
  padding:10px 0px 0px;
  font-weight:bold;
}

.lvl0, lvl1 etc. are added to nodes of the tree depending on the depth of the nodes in the tree.
.lvl0 > .trillo-tree-item {
  font-weight: bold;
  margin-bottom:5px;
  padding:3px;
}

.trillo-tree .lvl0:first-child {
  /* border-top:1px solid #cccccc; */
}

.trillo-tree .lvl0 {
 padding:15px 10px 5px 0px;
 font-size: 17px;
 margin-left:15px;
 border-bottom:1px solid #cccccc;
 line-height: 100%;
}

.trillo-tree .lvl0.no-border {
  border-width: 0px;
}

.trillo-tree .lvl1 {
  font-size:15px;
  padding:8px 0px 8px 16px;
  line-height: 100%;
}

.trillo-tree .lvl2 {
  font-size: 13px;
  padding:6px 0px 0px 10px;
}

.trillo-tree .lvl3 {
  font-size:11px;
  padding:4px 0px 0px 5px;
}

.trillo-tree .lvl4 {
  font-size:10px;
  padding:4px 0px 0px 5px;
}

.trillo-tree .lvl5 {
  font-size:10px;
  padding:4px 0px 0px 5px;
}
.trillo-tree .lvl6 {
  font-size:10px;
  padding:4px 0px 0px 5px;
}

.trillo-tree .lvl7 {
  font-size:10px;
  padding:4px 0px 0px 5px;
}

.trillo-tree .odd {
 background-color:#dddddd; 
}

.trillo-tree .even {
 background-color:#ffffff; 
}

.trillo-tree .trillo-selected  {
  background-color: #ff9933;
  color: #fff;
}

.trillo-tree-action-item {
  color:#4C88BE;
}

/* --------------------------------------------------------------------------------------------------------- */
/* Hiding and showing editable part of a cell in the table */
.trillo-on-edit-cell {
  display: none;
}

.trillo-editable .trillo-on-edit-cell {
  display : table-cell; 
}


/* --------------------------------------------------------------------------------------------------------- */

/* Tabular view */

.trillo-list-header {
  width: 100%;
  background-color: #f2f2f2;
  margin: 0px;
  position:fixed;
  z-index: 1000;
  border:1px solid #cccccc;
  height:38px;
}

.trillo-list-row {
  width: 100%;
  border:1px solid #cccccc;
  min-height:27px;
  border-top-width: 0px;
  position: absolute;
}

.trillo-list-row.trillo-selected {
  border:1px solid #cccccc;
  border-top-width: 0px;
  background-color:#eeeeee;
  margin: 0px;
}

.trillo-inner-list {
  margin: 10px 0px;
}

.trillo-inner-list .trillo-list-row {
  position: static;
}
  
.trillo-inner-list .trillo-list-header {
  position: static;
}

/* Header and rows for the tabular view. */
.trillo-header-c {
  display:inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-left: 1px solid #aaaaaa;
  padding:10px;
  overflow: hidden;
  font-weight:bold;
  margin:0px -5px 0px 0px;
  line-height: 16px;
}

.trillo-header-c:first-child {
  border-left-width: 0px;
}

.trillo-content-c {
  display:inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-left: 1px solid #aaaaaa;
  padding:0px 10px;
  overflow: hidden;
  margin:0px -5px 0px 0px;
  line-height: 16px;
}

.trillo-content-c input:not([type='checkbox']), .trillo-content-c select {
    width: 100%;
    border: 1px solid #dddddd;
    padding: 0px 5px;
}

.trillo-content-c:first-child {
  border-left-width: 0px;
}

.trillo-content-c input[type="radio"], .trillo-content-c input[type="checkbox"] {
  margin: 0px;
}

/* .caret is from bootstrap. */
.trillo-header-c .caret {
  margin-left: 5px;
}

/* --------------------------------------------------------------------------------------------------------- */

/* Info grid view. */

.trillo-info-block {
  position: absolute;
  width: 150px;
  border: 1px solid #d8d8d8;
  margin:10px;
  cursor: pointer;
  position: absolute;
  background-color: #f8f8f8;
}

.trillo-selected.trillo-info-block {
  border: 4px solid #ff9933;
  margin-top:7px;
  margin-left:7px;
}

.trillo-info-block-tools {
  position: absolute;
  z-index: 100;
  top:5px;
  left: 10px;
}


.trillo-info-block .trillo-info-block-title {
  font-size: 11px;
  font-weight: bold;
  padding: 5px 10px;
  text-align: center;
  background-color: #ffffff;
}

.trillo-info-block .trillo-info-block-name {
  font-size: 11px;
  font-weight: bold;
  padding: 5px 0px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.trillo-info-block .trillo-info {
  font-size: 10px;
  border-top: 1px dashed #dddddd;
  padding: 8px 10px;
}


/* --------------------------------------------------------------------------------------------------------- */

/* From */

.trillo-form-container {
  padding-top: 1px; /* to avoid margin collapse */
}

.trillo-form-title {
  color: #666;
  font-size: 36px;
  margin: 20px 0px;
}

.trillo-has-form-footer .trillo-form-container-inner {
  border-bottom-width: 0;
  padding-bottom: 0;
}

.trillo-form-container-inner {
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  margin: 19px auto 0;
  padding: 0 20px;
  width: 320px;
}

.trillo-form-container-inner-footer {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #EEEEEE;
  border-color: #DDDDDD;
  border-image: none;
  border-right: 1px solid #DDDDDD;
  border-style: solid;
  border-width: 0 1px 1px;
  font-size: 14px;
  line-height: 20px;
  margin: 0 auto 20px;
  padding: 20px;
  width: 320px;
}

/* --------------------------------------------------------------------------------------------------------- */

/* Detail view - read only view of name and value pairs + any other HTML. */

.trillo-dv {
  padding: 1px 20px;
}

.trillo-dv-narrow {
  padding: 1px 20px;
  width: 350px;
}

.trillo-dv-group-c {
  float:left;
  margin:10px;
}

.trillo-dv-group-c-nested .trillo-dv-group-c {
  float: none;
  margin:10px 0px 0px;
  width: 100%;
}


.trillo-dv-group {
  border: 1px solid #cccccc;
}

.trillo-dv-group-c-nested .trillo-dv-group {
  border: 0px solid #cccccc;
}
.trillo-dv-group-title {
    color: #666;
    font-size: 18px;
    padding: 11px;
    background-color:#f2f2f2;
}

.trillo-dv-group-c-nested .trillo-dv-group-title {
  font-size: 15px;
}

.trillo-dv-field-label {
  padding:7px 5px 7px 15px;
}

.trillo-dv-field-value {
  padding:7px 15px 7px 25px;
}

.trillo-dv-bordered-group {
  border-spacing: 5px;
  border-collapse: separate;
}

.trillo-dv-bordered-group  .trillo-dv-field-value {
  padding:3px 5px;
  min-width: 200px;
  border: 1px solid #cccccc;
}

.trillo-dv-bordered-group  .trillo-dv-group {
  border: 0px solid #cccccc;
}

/* --------------------------------------------------------------------------------------------------------- */

/* Wizard. */

.trillo-wizard-page-title {
  margin-bottom: 20px;
  margin-top: 20px;
  line-height: 1.1em;
  font-size:28px;
  font-weight:bold;
}

.trillo-wizard-button-bar {
  padding: 0px 15px 15px;
  margin-bottom: 15px;
  text-align:center;
  border-bottom: 1px solid #aaaaaa;
}

.trillo-wizard-button-bar button {
  margin: 0px 3px;
}

.trillo-wizard-page {
  display:none;
}

.trillo-wizard-page.trillo-selected {
  display:block;
}

/* --------------------------------------------------------------------------------------------------------- */

/* Upload form. */

.trillo-upload-form .trillo-file {
  position:absolute; 
  top:0px; 
  left:0px; 
  height:30px; 
  width:290px; 
  z-index:2; 
  opacity:0; 
  -moz-opacity:0; 
  filter: alpha(opacity=1); 
}

.trillo-upload-form .trillo-file-name {
  z-index:1; 
  margin-bottom:0px;
  width:190px;
  height:30px;
}

.trillo-upload-form .trillo-choose-button {
  z-index:1; 
  margin-bottom:0px;
  width:100px;
}

.trillo-upload-form  .trillo-upload-file{
  z-index:3; 
  margin:18px 0px 0px 0px;
}

.trillo-upload-form .trillo-upload-dragdrop-box {
  margin:10px 0px 1px;
  width:100%;
  height: 100px;
  border:1px solid #c2c2c2; 
  border-radius: 4px;
  background-color: #dddddd;
  font-size:15px;
  line-height: 18px;
  padding: 41px 10px 0;
  font-weight: bold;
  margin-bottom: 20px;
}

.trillo-upload-form .trillo-upload-dragdrop-box:hover {
  background-color: #f2f2f2;
}

.trillo-upload-form .trillo-upload-dragdrop-box-separator {
  margin: 20px 0px; 
  border-top: 1px solid #aaaaaa; 
  width: 100%; 
  height: 1px
}

.trillo-upload-pb-notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

.trillo-upload-form .trillo-image-size-info {
  
}

/* --------------------------------------------------------------------------------------------------------- */

/* Styles used by charts. */

.trillo-chart-c {
  width: 100%;
  float:left;
  padding: 10px;
  min-width: 300px;
}

.trillo-chart-c .trillo-title {
  margin-bottom: 15px;
  font-size: 15px;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
}


/* --------------------------------------------------------------------------------------------------------- */

/* Editable list. */

.trillo-editable-table {
  padding: 10px 20px;
}

.trillo-group-title {
  background: #787878;
  color: #fefefe;
  font-weight: normal;
  font-size: 12px;
}

.trillo-editable-table th,
.trillo-editable-table td {
  padding:3px 5px;
  border:1px solid #cccccc;
  font-size: 11px;
}

.trillo-editable-table td input,
.trillo-editable-table td select {
  width: 100%;
  border: 1px solid #dddddd;
  font-size: 11px;
  padding: 0px 5px;
}

.trillo-editable-table td.trillo-has-error input,
.trillo-editable-table td.trillo-has-error select {
  border-color: #a94442;
}

.trillo-editable-table-actions {
  display: table-cell;
}

.trillo-editable-table-action {
  margin: 0px 5px;
  cursor: pointer;
}

.trillo-editable-table .trillo-list-header {
  position: static;
}

/* --------------------------------------------------------------------------------------------------------- */

/* CSS styles for trillo list view. */

.trillo-drop-down-list .trillo-selector-view {
  float: left;
}

.trillo-drop-down-list-tools  {
  float: left;
  margin: 5px;
}

/* --------------------------------------------------------------------------------------------------------- */

/* CSS styles for trillo tools toggle. */

/* This class is added when a view container is by default hidden due to media width (overlay mode).
 * Such containers' visibility can be toggled using a button. This class can be used to cascade to 
 * any other class to control visual property of the container in overlay mode v/s normal mode.
*/
.trillo-container-overlaid {
}
.trillo-cleared {
  visibility: hidden;
}

.trillo-generic-toggle {
  padding: 5px;
  margin-right: 15px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  margin: 2px 0;
  background-color: #4d80af;
}

.trillo-generic-toggle:focus {
  outline: 0;
}

.trillo-generic-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: #fff;
}

.trillo-generic-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}

.trillo-generic-toggle .icon-bar.icon-bar2 {
  width: 18px;
}

.trillo-generic-toggle .icon-bar.icon-bar3 {
  width: 14px;
}

@media (min-width: 768px) {
  .trillo-generic-toggle {
    display: none;
  }
}

/* --------------------------------------------------------------------------------------------------------- */

/* Default CSS styles for trillo flex grid. */

.trillo-flex-grid {
  border-spacing: 10px; 
  position: relative;
}

.trillo-flex-cell {
  position: absolute;
  border: 1px solid #eeeeee;
  display: flex;
  flex-direction: column; 
}

.trillo-cell-topbar {
  flex: 0;
  height:30px; 
  border-bottom: 1px solid #eeeeee; 
  background-color: #f2f2f2;
  padding: 0px 5px;
}

.trillo-cell-topbar .fa {
  margin: 8px 5px 8px 0px;
  text-decoration: none;
  color: #c2c2c2;
}

.trillo-cell-topbar .fa:hover, .trillo-cell-topbar .fa:focus {
  color: #2a6496;
}

.trillo-cell-content {
  flex: 1;
  position:relative;
}

.trillo-cell-topbar-menu {
  float: right;
}

.trillo-cell-topbar-menu .dropdown-toggle {
  margin: 8px 0px 8px 5px;
  padding: 0 6px;
}

.trillo-cell-topbar-menu .dropdown-menu {
  right: 0px;
  font-size: 11px;
  left: auto;
  min-width: 100px;
  margin-top: -8px;
}

.trillo-cell-topbar-menu .dropdown-menu > li > a, .trillo-cell-topbar-menu .dropdown-menu > li > span{
  line-height: 11px;
  white-space: nowrap;
  margin: 6px 3px;
  font-size: 11px;
  padding: 3px;
}

.trillo-flex-grid-iconbar {
  height:30px;
  padding:5px 10px;
  width:100%;
  z-index:10; 
  position: fixed; 
  bottom:0px; 
  background-color:#eee
}

.trillo-flex-minified-icon {
  font-size: 20px;
  margin-right: 10px;
  margin-left: 10px;
}