<script spec="view" type="application/json">
  {
    "name" : "ToDoList",
    "controller" : "ToDo.ToDoListC",
    "container" : "main-container",
    "impl" : "Trillo.CollectionView",
    "modelSpec" : {
      "impl" : "ToDo.ListModel"
    },    
    "apiSpec" : {
      "impl" : "Trillo.RestAdapter",
      "serviceUrl" : "/todo/taskList"
    },
    "type" : "table"
  }
</script>

<div class="to-do-list-container">
  <div class="to-do-list-tool-bar-c">
    <div class="to-do-list-tool-bar js-toolbar-tools">
      <button class="btn btn-primary btn-xs js-tool" type="button" nm="newTask">New Task</button>
    </div>
  </div>
  <div class="trillo-canvas js-grid">
    <div class="trillo-list-header js-heading-row">
      <div class="trillo-header-c trillo-sortable todo-list-completed" 
        nm="completed" sortable style="width:22%">
        Completed
      </div>
      <div class="trillo-header-c trillo-sortable" nm="priority" sortable style="width:20%">
        Priority
      </div>
      <div class="trillo-header-c trillo-sortable" nm="taskName" sortable style="width:58%">
        Task
      </div>
    </div>
    <div class="trillo-list-row js-content-row">
      <div class="trillo-content-c js-readonly-content todo-list-completed">
        <input type="checkbox" nm="completed">
      </div>
      <div class="trillo-content-c js-readonly-content" nm="priority">
      </div>
      <div class="trillo-content-c js-readonly-content" nm="taskName">
      </div>
    </div>
  </div>
</div>

